[project]
	description = A Scannerless GLR parser/parser generater.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/John Plevyak (jplevyak)
[access "refs/for/refs/*"]
	read = group user/John Plevyak (jplevyak)
	push = group user/John Plevyak (jplevyak)
	label-Code-Review = -2..+2 group user/John Plevyak (jplevyak)
	label-Verified = -1..+1 group user/John Plevyak (jplevyak)
	rebase = group user/John Plevyak (jplevyak)
	removeReviewer = group user/John Plevyak (jplevyak)
	submit = group user/John Plevyak (jplevyak)
[access "refs/heads/*"]
	read = group user/John Plevyak (jplevyak)
	create = group user/John Plevyak (jplevyak)
	push = +force group user/John Plevyak (jplevyak)
	pushMerge = group user/John Plevyak (jplevyak)
[access "refs/tags/*"]
	push = group user/John Plevyak (jplevyak)
	push = +force group user/John Plevyak (jplevyak)
